body {
  background-color: #f1f5f9;
  margin: 0;
  color: #0f172a;
}

.sidebar-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  width: 100%;
  padding-right: 25px;
}

.summary-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  width: 100%;
}

.summary-card {
  box-sizing: border-box;
  height: 100px;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.summary-card h3 {
  font-size: x-large;
  margin: 0;
}

.summary-card p {
  margin: 0;
}

.summary-card svg {
  margin-left: auto;
}

#online {
  color: #16a34a;
}

#issues {
  color: rgb(234, 71, 12);
}

#cpu {
  color: rgb(37, 99, 235);
}

#ram {
  color: rgb(147, 51, 234);
}

.summary-card p {
  color: black;
}

.overview-container {
  display: flex;
  gap: 20px;
}

.performance-card {
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 1300px) {
  .summary-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .overview-container {
    flex-direction: column;
  }

  .dashboard-container {
    padding-left: 25px;
  }
}

.search-container {
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  gap: 10px;
}

.search-input input {
  appearance: auto;
  background-color: #fff;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(2, 8, 23);
  cursor: auto;
  display: flex;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  width: 100%;
  padding: 8px 12px 8px 40px;
  margin: 0;
  text-align: start;
}

.search-input input:focus {
  border-color: rgb(0, 0, 0);
  border-width: 2px;
  outline: none;
}

.search-input {
  position: relative;
  width: 100%;
}

.search-input svg {
  position: absolute;
  top: 12px;
  left: 12px;
}

.search-container button {
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  font-weight: bold;
}

.server-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.server-container div {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 406;
  padding: 30px;
}
.dashboard-container h3 {
  padding: 0;
  margin: 0;
}
